__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.env
node_modules/
.next/
out/
build/
dist/
*.log
.DS_Store
.AppleDouble
.LSOverride
# Database & GIS data
*.sqlite3
*.db
backend/data/*.tif
backend/data/*.geojson.cache
